
<div class="container">
    <div class="card mb-3 border-0 mt-2" style="max-width: 540px;" *ngFor="let records of employeeAll">
        <div class="row g-0">
          <div class="col-md-4 mt-5">
            <img src="{{records.avatar}}" alt="" height="165">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p><strong>Emp. Id :</strong> {{records.id}}</p>
              <p><strong>Emp. Name :</strong> {{records.name}}</p>
              <p><strong>Emp. Email :</strong> {{records.email}}</p>
              <p><strong>Emp. Date of Birth :</strong> {{records.dateOfBirth}}</p>
              <p><strong>Emp. Country :</strong> {{records.country}}</p>
              <p>
                <button class="btn btn-primary" (click)="editEmployee(records)" data-bs-toggle="modal" data-bs-target="#exampleModal">Update</button> &nbsp;
                <button class="btn btn-danger" (click)="deleteEmployee(records)">Delete</button>
              </p>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Employee Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]= "formValue">
                    <div class="form-group">
                        <div *ngFor="let i = index">
                            <h3>{{i}}</h3>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="avatar">Select Avatar</label>
                        <select name="select" id="select" class="form-control" formControlName="avatar">
                            <option value="assets/four.webp">Female</option>
                            <option value="assets/one.webp">Male One</option>
                            <option value="assets/two.webp">Male Two</option>
                            <option value="assets/three.webp">Male Three</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name">Enter Name</label>
                        <input type="text" class="form-control" formControlName="name">
                    </div>
                    <div class="form-group">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control"  aria-describedby="emailHelp"
                            formControlName="email">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="form-group">
                        <label for="dateOfBirth">Date Of Birth</label>
                        <input type="date" class="form-control" formControlName="dateOfBirth">
                    </div>
                    <div class="form-group">
                        <label for="country">Country</label>
                        <select name="country" class="form-control" formControlName="country">
                            <option value="India">India</option>
                            <option value="American">America</option>
                            <option value="UK">UK</option>
                            <option value="Bangladesh">Bangladesh</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="updateEmployee()">Update Employee</button>
            </div>
        </div>
    </div>
